<!DOCTYPE html>
<html>

<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TGVLVKS');</script>
    <!-- End Google Tag Manager -->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Turkcell Ücretsiz Vale Kampanyası</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css\styleVale.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGVLVKS"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="border">
    <div class="logo"><img src="/img/imgVale/logo.png" alt="" /></div>
    <div class="bg web"><img src="img/imgVale/bg.jpg" alt="" /></div>
    <div class="bg onlytablet"><img src="img/imgVale/bg1.jpg" alt="" /></div>
    <div class="bg onlytablet1"><img src="img/imgVale/bg2.jpg" alt="" /></div>
    <div class="bg mobile"><img src="img/imgVale/bg3.jpg" alt="" /></div>

    <div id="txt1" class="text1">EMAAR'DA</div>
    <div id="txt2" class="text2">BİR ALIRSIN, İKİ ALIRSIN</div>
    <div id="txt3" class="text3">ÜÇÜNCÜDE DE</div>
    <div id="txt4" class="text4">KAZANIRSIN!</div>
    <div id="txt5" class="text5">18-21 ekim tarihlerinde Emaar'dan yapacağın 3 alışverişte birinin tutarı kadar TL yüklü Param Kart hediye!
      Üstelik Turkcell'lilere özel ilgili tarihlerde ilk 1.000 kişiye VALE hizmeti ücretsizdir.</div>

    <div id="tsk1" style="display: none" class="desc">Turkcell Vale kullanım koşulları:
      <br>
      Ücretsiz vale kullanımı 18 – 21 Ekim 2019 tarihleri arasında geçerlidir.
      <br>
      Size özel kodu Emaar 2. Ve 5. kapıda yer alan BOB VALE personeline göstermeniz gerekmektedir.
      <br>
      Ücretsiz vale sadece Turkcellilere özel ve stokla sınırlıdır.
      <br>
      Emaar, kampanya koşullarında değişiklik yapma hakkını her koşulda saklı tutar.
      <br>
      3 al 2 öde kampanyasının detayları için <a href="https://www.emaarsquaremall.com/istanbul-alisveris-firsatlari/emaar-da-bir-alirsin-iki-alirsin-ucuncude-kazanirsin">tıklayınız.</a>
    </div>

        <div class="text1" id="tesekkur" style="display: none;">İlginize teşekkürler. Etkinlik için rezervasyonumuz dolmuştur. <br>Bir sonraki etkinlikte görüşmek üzere.</div>
        <div class="kupon"  style="display: none;" id="divKuponNo"><span id="kuponNo"></span></div>
        <div class="form" id="formburcu">
            <form>
              <input type="text" placeholder="Adınız" class="name" id="ad" required/>
              <input type="text" placeholder="Soyadınız" class="surname" id="soyad" required/>
              <input type="text" placeholder="Telefon Numaranız" class="number" id="telefon" required/>
              <input type="text" placeholder="Yaşınız" class="gender" id="yas" required/>
              <input type="text" placeholder="Email Adresiniz" class="mail" id="email" required/>
                <select id="cinsiyet" required>
                    <option value="volvo">Cinsiyetiniz</option>
                    <option value="male">Erkek</option>
                    <option value="female">Kadın</option>
                </select>
                
                <div class="kvkk">
                    <label>
                        <input type="checkbox" name="kvkk" value="kvkk" id="kvkk">
                        <i>Kaydol düğmesine tıklayarak, Koşullarımızı, <a href="https://www.emaarsquaremall.com/gizlilik-politikasi" target="_blank">Veri İlkemizi ve Çerezler İlkemizi</a> kabul etmiş olursun. Bizden SMS ve e-posta Bildirimleri alabilir ve bu bildirimleri istediğin zaman durdurabilirsin.</i>
                    </label>
                </div>
               
                <div class="btn"><input type="button" value="Gönder" id="btn" /></div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
    <script>
    
    

    </script>
  <script>
  $(document).ready(function(){

    
    
    $.get("/app/kuponMusteri", function(m){
      console.log(m.length)
  if(m.length>=1000)
  {
    $('#bulusma').css("display", "none");
    $('#tesekkur').css("display", "css");
    $('#formburcu').css("display", "none");
  }
 

    $('#btn').on("click", function(){
      var cinsiyet = $('#cinsiyet').find(":selected").val();
      var kvkk;
    if($('#kvkk').is(':checked')){
      kvkk = true;
    }
    else{
      kvkk = false
    }
var ad =      $('#ad').val();
var soyad =      $('#soyad').val();
var telefon = $('#telefon').val();
var yas = $('#yas').val();
var email =   $('#email').val();

$.get("/app/kuponlar", function(kuponlar){
    var kupon = kuponlar.filter(k => k.used === false);
    
    var currentkupon = kupon[Math.floor(Math.random()*kupon.length)]

var checkTel = m.find(m => m.telefon === telefon);


if(ad != null && telefon!=null && yas!=null && email!=null && cinsiyet != "volvo" && kvkk!=false && checkTel==null){
  

  $.ajax({
            url: "/app/formVale",
            type: "POST",
            data: {
                ad:      ad,
                soyad: soyad,
                cinsiyet:   cinsiyet,
                telefon: telefon,
                yas:   yas,
                email:   email,
                kvkk: kvkk
            },
            async: false
        })
  $.ajax({
            url: "/app/vale",
            type: "POST",
            data: {
                ad:      ad,
                soyad: soyad,
                cinsiyet:   cinsiyet,
                telefon: telefon,
                yas:   yas,
                email:   email,
                kvkk: kvkk
            },
            
        })

        

      $.get("/app/kuponMusteri", function(kpnMust){
        var currentMusteri = kpnMust.find(k => k.telefon === telefon);
        console.log(currentMusteri);
        $.ajax({
            url: "/app/valeKupon",
            type: 'POST',
            data: {
                kuponId: currentkupon._id,
                musteriId: currentMusteri._id
            },
            success: function(){

              $('#bulusma').css("display", "none");
              $('#tesekkur').css("display", "none");
              $('#formburcu').css("display", "none");
              $('#tsk1').css("display", "block");
              $('#divKuponNo').css("display", "block");
              console.log(Object.keys(currentkupon));
              var vrbl = Object.keys(currentkupon)
              $('#kuponNo').html( "<div>" + "Tebrikler! Ücretsiz vale kazandınız! " + "</div>" + " Kupon kodunuz: "  + currentkupon['CodeName']);

              gtag('config', 'UA-135623189-1');
              window.dataLayer.push({
              "event":"form_submission",
              "form_id": "currentMusteri._id",
              "form_type": "ajax",
              "page_path":"https://landing.emaarsquaremall.com/turkcell-vale",
              "page_type":"success-page"
              });
                
            },
            
        })
      })

       

}

else{
  if(checkTel!=null)
  {
   
    var a = confirm("Bu telefon numarasıyla daha önce bir kayıt yapılmış.");
  }
 else if(kvkk==false){
    var a = confirm("Kaydınızın tamamlanabilmesi için KVKK kutucuğunu onaylamanız gerekmektedir");
  }
  else{
    var a = confirm("Formdaki tüm alanları eksiksiz ve doğru bir biçimde doldurmanız gerekmektedir.");
  }
  
}

   
})
  
})


       var seri = $('#frm').serialize();
     
    })

  })
  </script>

</body>
</html>