@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap&subset=latin-ext');

* {
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both
}

body {
    background: rgba(232, 201, 154, 0.9);
    font-family: 'Noto Serif', serif;
}

.border {
    border: 30px solid #fff;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.logo {
    position: absolute;
    bottom: -25px;
    left: 0;
}

.bg img {
    width: 100%;
}

.text1 {
    position: absolute;
    top: 260px;
    left: 3%;
    color: #212120;
    text-align: center;
    font-size: 3.2vw;
    width: auto;
    background-image: radial-gradient(#fdd850, #b48745);
    padding: 0 50px 0 20px;
    opacity: 0.8;
}

.text2 {
    position: absolute;
    top: 350px;
    left: 3%;
    color: #212120;
    text-align: center;
    font-size: 3.2vw;
    width: auto;
    background-image: radial-gradient(#fdd850, #b48745);
    padding: 0 50px 0 20px;
    opacity: 0.8;
}

.text3 {
    position: absolute;
    top: 440px;
    left: 3%;
    color: #fff;
    text-align: center;
    font-size: 4vw;
    width: auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 0 50px 0 20px;

}

.text4 {
    position: absolute;
    top: 552px;
    left: 3%;
    color: #fff;
    text-align: center;
    font-size: 4vw;
    width: auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 0 50px 0 20px;
}

.text5 {
    position: absolute;
    top: 670px;
    left: 2%;
    color: #fff;
    text-align: left;
    font-size: 1.5vw;
    width: 770px;
    padding: 0 50px 0 20px;
}

.form {
    position: absolute;
    width: 800px;
    background: rgba(232, 201, 154, 0.9);
    right: 4%;
    bottom: 60px;
    padding: 1%;
}

input {
    outline: 0;
    border: 0;
}

input[type=text] {
    background: #fff7eb;
    text-indent: 10px;
    font-size: 16px;
    color: #8d7e79;
}

select,
select option {
    background: #fff7eb;
    text-indent: 10px;
    font-size: 16px;
    color: #8d7e79;
    border-radius: 0;
    outline: 0;
    border: 0;
}

.form input.name {
    width: 48%;
    height: 50px;
    float: left;
    border: 0;
}
.form input.surname {
    width: 48%;
    height: 50px;
    float: right;
    border: 0;
}

.form input.number {
    width: 48%;
    height: 50px;
    float: left;
    border: 0;
    margin: 10px 0 0;
}

.form input.gender {
    width: 48%;
    height: 50px;
    float: right;
    border: 0;
    margin: 10px 0 0;
}

.form select {
    width: 48%;
    height: 50px;
    float: right;
    border: 0;
    margin: 10px 0 0;
}

.form input.mail {
    width: 48%;
    height: 50px;
    float: left;
    border: 0;
    margin: 10px 0 0;
}

.kvkk {
    width: 50%;
    float: left;
    font-size: 13px;
    color: #333;
    margin: 10px 0 0;

}

.btn {
    float: right;
    width: 45%;
}

input[type=button] {
    background: #262626;
    text-indent: 10px;
    font-size: 26px;
    color: #e8c798;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin: 10px 0 0;
    width: 100%;
    display: block;
    -webkit-appearance: none;

}

.onlytablet,
.onlytablet1,
.mobile,
.titlemobile {
    display: none;
}


.kupon {
    display: block;
    position: absolute;
    background: rgba(0,0,0, 0.6);
    right: 3%;
    bottom: 260px;
    color: #fff;
    font-size:2vw;
    text-align:center;
    padding:10px 20px;

}.desc {
    display: block;
    position: absolute;
    background: rgba(232, 201, 154, 0.9);
    right: 1%;
    bottom: 60px;
    color: #333332;
    font-size:1vw;
    text-align:left;
    padding:10px 20px;

}

.desc {
    display: block;
    position: absolute;
    background: rgba(232, 201, 154, 0.9);
    right: 1%;
    bottom: 60px;
    color: #333332;
    font-size:1vw;
    text-align:left;
    padding:10px 20px;

}

@media screen and (max-width:1440px) and (max-height:900px) {
    .text1 {
        top: 190px;
    }

    .text2 {
        top: 260px;
    }

    .text3 {
        top: 330px;
    }

    .text4 {
        top: 415px;
    }

    .text5 {
        top: 515px;
        width: 565px;
    }

    .form {
        width: 670px;
        right: 1%;
        bottom: 30px;
    }
}

@media screen and (max-width:1440px) and (max-height:720px) {

    .text1 {
        top: 160px;
    }

    .text2 {
        top: 230px;
    }

    .text3 {
        top: 300px;
    }

    .text4 {
        top: 385px;
    }

    .text5 {
        top: 475px;
        width: 515px;
    }


    .form {
        width: 600px;
        right: 1%;
        bottom: 0;
    }
}

@media screen and (max-width:1280px) and (max-height:950px) {

    .text1 {
        top: 160px;
    }

    .text2 {
        top: 230px;
    }

    .text3 {
        top: 300px;
    }

    .text4 {
        top: 385px;
    }

    .text5 {
        top: 475px;
        width: 515px;
        left: 1.5vw;
    }


    .form {
        width: 600px;
        right: 1%;
        bottom: 0;
    }
}

@media screen and (max-width:1024px) and (max-height:768px) {
    .web {
        display: none;
    }

    .onlytablet {
        display: block;
    }

    .title img {
        width: 520px;
    }

    .text1 {
        top: 140px;
    }

    .text2 {
        top: 180px;
    }

    .text3 {
        top: 230px;
    }

    .text4 {
        top: 290px;
    }

    .text5 {
        top: 350px;
        font-size: 2vw;
    }


    .form {
        width: 600px;
        right: 1%;
        bottom: 0;
        padding: 2% 1%;
    }
    .kupon {

        bottom: 390px;
        font-size: 3vw;
        width: 70%;
        left: 50%;
        right: 50%;
        margin: 0 0 0 -35%;
    }
    .desc {
        bottom: 90px;
        font-size: 3vw;
        width: 94%;
        left: 50%;
        right: 50%;
        margin: 0 0 0 -47%;
        box-sizing: border-box;
    }
}

@media screen and (max-width:1024px) and (max-height:1366px) {
    .web {
        display: none;
    }

    .onlytablet {
        display: none;
    }

    .onlytablet1 {
        display: block;
    }

    .text1 {
        top: 300px;
        font-size: 5vw;
    }

    .text2 {
        top: 380px;
        font-size: 5vw;
    }

    .text3 {
        top: 460px;
        font-size: 6vw;
    }

    .text4 {
        top: 555px;
        font-size: 6vw;
    }

    .text5 {
        top: 670px;
        font-size: 3vw;
        width: 770px;
    }

    .form {
        width: 96%;
        right: 1%;
        bottom: 143px;
        padding: 4% 1%;
    }

    .form input.gender,
    .form input.mail {
        margin: 20px 0 0;
    }

    .form select {
        margin: 20px 0 0;
    }

    .btn,
    .kvkk {
        margin: 20px 0 0;
    }
    .kupon {

        bottom: 390px;
        font-size: 3vw;
        width: 70%;
        left: 50%;
        right: 50%;
        margin: 0 0 0 -35%;
    }
    .desc {
        bottom: -30px;
        font-size: 3vw;
        width: 94%;
        left: 50%;
        right: 50%;
        margin: 0 0 0 -47%;
        box-sizing: border-box;
    }
}

@media screen and (max-width:768px) {

    .web,
    .onlytablet,
    .onlytablet1,
    .title {
        display: none;
    }

    .titlemobile {
        display: block;
        top: -50px;
        right: 0;
    }

    .mobile {
        display: block;
    }

    .border {
        border: 10px solid #fff;
        height: 100%;
        overflow: visible;
        min-height: 1240px;
    }

    .text1 {
        top: 375px;
        right: 50%;
        font-size: 6vw;
        width: 60%;
        text-align: center;
        left: 50%;
        margin: 0 0 0 -30%;
        padding: 0;
    }

    .text2 {
        top: 445px;
        right: 50%;
        font-size: 6vw;
        width: 80%;
        text-align: center;
        left: 50%;
        margin: 0 0 0 -40%;
        padding: 0;
    }

    .text3 {
        top: 515px;
        right: 50%;
        font-size: 6vw;
        width: 70%;
        text-align: center;
        left: 50%;
        margin: 0 0 0 -35%;
        padding: 0;
    }

    .text4 {
        top: 583px;
        right: 50%;
        font-size: 6vw;
        width: 58%;
        text-align: center;
        left: 50%;
        margin: 0 0 0 -29%;
        padding: 0;
    }

    .text5 {
        top: 660px;
        right: 50%;
        font-size: 2vw;
        width: 70%;
        text-align: center;
        left: 50%;
        margin: 0 0 0 -35%;
        padding: 0;
    }

    .logo {
        display: none;
    }


    .form input.name,
    .form input.surname,
    .form input.number,
    .form input.gender,
    .form input.mail,
    .form select {
        width: 100%;
        float: none;
        margin: 10px 0 0;
    }

    .form {
        bottom: 0;
    }

    .kvkk {
        width: 100%;
        float: none;
    }

    .btn {
        float: none;
        width: 100%;
        margin: 10px auto;
    }

    .logo {
        position: absolute;
        bottom: -26px;
        left: 0;
    }
    .kupon {

        bottom: 390px;
        font-size: 3vw;
        width: 70%;
        left: 50%;
        right: 50%;
        margin: 0 0 0 -35%;
        box-sizing:border-box;
    }
    .desc {
        bottom: 90px;
        font-size: 3vw;
        width: 94%;
        left: 50%;
        right: 50%;
        margin: 0 0 0 -47%;
        box-sizing: border-box;
    }


}

@media screen and (max-width:414px) {

    body {
        background: #333332;
    }

    .text1 {
        top: 200px;
    }

    .text2 {
        top: 240px;
    }

    .text3 {
        top: 280px;
    }

    .text4 {
        top: 320px;
    }

    .text5 {
        top: 371px !important;
        font-size: 3.4vw !important;
        width: 90% !important;
        margin: 0 0 0 -45% !important;
    }


    .form {
        top: 430px;
    }
    .kupon {

        bottom: 740px;
        font-size: 3vw;
        width: 70%;
        left: 50%;
        right: 50%;
        margin: 0 0 0 -35%;
        box-sizing:border-box;
    }
    .desc {
        bottom: 550px;
        font-size: 3vw;
        width: 94%;
        left: 50%;
        right: 50%;
        margin: 0 0 0 -47%;
        box-sizing: border-box;
    }


}