@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap&subset=latin-ext');

* {
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}
input[type=button] {cursor: pointer;}

.right {
    float: right;
}

.clear {
    clear: both
}

body {
    background: #f4d9d0;
    font-family: 'Noto Serif', serif;

}

.border {
    border: 30px solid #fff;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.logo {
    position: absolute;
    bottom: -24px;
    left: 0;
}

.title {
    position: absolute;
    top: -60px;
    right: 10%;
}

.bg img {
    width: 100%;
}

.text1 {
    position: absolute;
    top: 160px;
    right: 3%;
    color: #000;
    text-align: center;
    font-size: 4vw;
    width: 892px;
}

.text1 span {
    display: block;
    font-size: 1.2vw
}

.info {
    position: absolute;
    top: 450px;
    right: 10%;
}

.form {
    position: absolute;
    width: 800px;
    background: #e6beb1;
    right: 4%;
    bottom: 60px;
    padding: 1%;
}

input {
    outline: 0;
    border: 0;
}

input[type=text] {
    background: #ffe5dd;
    text-indent: 10px;
    font-size: 16px;
    color: #8d7e79;
}

select,
select option {
    background: #ffe5dd;
    text-indent: 10px;
    font-size: 16px;
    color: #8d7e79;
    border-radius: 0;
    outline: 0;
    border: 0;
}

.form input.name {
    width: 48%;
    height: 50px;
    float: left;
    border: 0;
}
.form input.surname {
    width: 48%;
    height: 50px;
    float: right;
    border: 0;
}

.form input.number {
    width: 48%;
    height: 50px;
    float: left;
    border: 0;
    margin: 10px 0 0;
}

.form input.gender {
    width: 48%;
    height: 50px;
    float: right;
    border: 0;
    margin: 10px 0 0;
}

.form select {
    width: 48%;
    height: 50px;
    float: right;
    border: 0;
    margin: 10px 0 0;
}

.form input.mail {
    width: 48%;
    height: 50px;
    float: left;
    border: 0;
    margin: 10px 0 0;
}

.kvkk {
    width: 48%;
    float: left;
    font-size: 13px;
    color: #333;
    margin: 10px 0 0;

}

.btn {
    float: right;
    width: 48%;
}

input[type=button] {
    background: #cf708b;
    text-indent: 10px;
    font-size: 26px;
    color: #5f3940;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin: 10px 0 0;
    width: 100%;
    display: block;
    -webkit-appearance: none;

}

.onlytablet,
.onlytablet1,
.mobile,
.titlemobile {
    display: none;
}

.desc2 {position: absolute;
    top: 210px;
    right: 4%;
    color: #000;
    text-align: center;
    font-size: 3vw;
    width: auto;}

    .desc2 span {
        font-size: 1.8vw;display:block
       }




@media screen and (max-width:1440px) and (max-height:800px) {
    .title {
        top: -70px;
        right: 5%;
    }

    .text1 {
        top: 150px;
        right: 2%;
        font-size: 4vw;
        width: 673px;
    }

    .info {
        position: absolute;
        top: 370px;
        right: 6%;
    }

    .form {
        width: 670px;
        right: 1%;
        bottom: 30px;
    }
}

@media screen and (max-width:1440px) and (max-height:720px) {
    .title img {
        width: 470px;
    }

    .title {
        top: -50px;
        right: 6%;
    }

    .text1 {
        top: 113px;
        right: 2%;
        font-size: 3.2vw;
        width: 553px;
    }

    .info {
        position: absolute;
        top: 295px;
        right: 2%;
    }

    .form {
        width: 600px;
        right: 1%;
        bottom: 0;
    }
}

@media screen and (max-width:1024px) and (max-height:768px) {
    .web {
        display: none;
    }

    .onlytablet {
        display: block;
    }

    .title img {
        width: 520px;
    }

    .title {
        top: -58px;
        right: 1%;
    }

    .text1 {
        top: 143px;
        right: 1%;
        font-size: 4.4vw;
        width: 523px;
    }

    .info {
        position: absolute;
        top: 335px;
        right: 1%;
    }

    .form {
        width: 600px;
        right: 1%;
        bottom: 0;
    }
}

@media screen and (max-width:1024px) and (max-height:1366px) {
    .web {
        display: none;
    }

    .onlytablet {
        display: none;
    }

    .onlytablet1 {
        display: block;
    }

    .title img {
        width: 610px;
    }

    .title {
        top: -28px;
        right: -7%;
    }

    .text1 {
        top: 253px;
        right: 1%;
        font-size: 4.4vw;
        width: 393px;
    }

    .info {
        position: absolute;
        top: 575px;
        right: 5%;
        width: 306px;
        text-align: center;
        margin: 0 auto;
    }

    .form {
        width: 96%;
        right: 1%;
        bottom: 170px;
        padding: 3% 1%;
    }

    .text1 span {
        font-size: 1.5vw;
        padding: 20px 0 0;
    }
    .desc2 {
        top: 870px;
        right: 50%;
        font-size: 5vw;
        left: 50%;
        width: 98%;
        margin: 0 0 0 -49%;
        padding: 50px 0;
        background: #e6beb1;
    }
}

@media screen and (max-width:768px) {

    .web,
    .onlytablet,
    .onlytablet1,
    .title {
        display: none;
    }

    .titlemobile {
        display: block;
        top: -50px;
        right: 0;
    }

    .mobile {
        display: block;
    }

    .border {
        border: 10px solid #fff;
        height: 100%;
        overflow: visible;
        min-height: 1240px;
    }


    .titlemobile img {
        width: 100%;
    }

    .info {
        top: 305px;
        right: 0;
        width: 100%;
    }

    .text1 {
        top: 416px;
        right: 0;
        font-size: 7.4vw;
        width: 100%;
    }

    .text1 span {
        font-size: 3.2vw;
        padding: 10px 0 0;
    }

    .form input.name,
    .form input.surname,
    .form input.number,
    .form input.gender,
    .form input.mail,
    .form select {
        width: 100%;
        float: none;
        margin: 10px 0 0;
    }

    .form {
        bottom: -150px;
    }

    .kvkk {
        width: 100%;
        float: none;
    }

    .btn {
        float: none;
        width: 100%;
        margin: 10px auto;
    }

    .logo {
        position: absolute;
        bottom: -26px;
        left: 0;
    }
    .desc2 {

        top: 810px;
        right: 50%;
        font-size: 8vw;
        width: 98%;
        left: 50%;
        margin: 0 0 0 -49%;
        box-sizing: border-box;
    }
    
}

@media screen and (max-width:375px) {



    .form {
        bottom: 170px;
    }
    .desc2 {

        top: 540px;
        right: 50%;
        font-size: 8vw;
        width: 98%;
        left: 50%;
        margin: 0 0 0 -49%;
        box-sizing: border-box;
    }


}